<ul class="nav nav-pills nav-stacked" id="product-nav">
  <li {% if page.url == '/product/' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/">Overview</a>
  </li>
  <li class="nav-header">Style</li>
  <li {% if page.url == '/product/style/colors.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/style/colors.html">Colors</a>
  </li>
  <li {% if page.url == '/product/style/grids.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/style/grids.html">Grids</a>
  </li>
  <li {% if page.url == '/product/style/iconography.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/style/iconography.html">Iconography</a>
  </li>
  <li {% if page.url == '/product/style/layer.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/style/layer.html">Layer</a>
  </li>
  <li {% if page.url == '/product/style/motion.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/style/motion.html">Motion</a>
  </li>
  <li {% if page.url == '/product/style/typography.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/style/typography.html">Typography</a>
  </li>
  <li class="nav-header">Components</li>
  <li {% if page.url == '/product/components/accordion.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/components/accordion.html">Accordion</a>
  </li>
  <li {% if page.url == '/product/components/breadcrumb.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/components/breadcrumb.html">Breadcrumb</a>
  </li>
  <li {% if page.url == '/product/components/button.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/components/button.html">Button</a>
  </li>
  <li {% if page.url == '/product/components/checkbox.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/components/checkbox.html">Checkbox</a>
  </li>
  <li {% if page.url == '/product/components/code-snippet.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/components/code-snippet.html">Code Snippet</a>
  </li>
  <li {% if page.url == '/product/components/content-switcher.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/components/content-switcher.html">Content Switcher</a>
  </li>
  <li {% if page.url == '/product/components/data-table.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/components/data-table.html">Data Table</a>
  </li>
  <li {% if page.url == '/product/components/detail-page-header.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/components/detail-page-header.html">Detail Page Header</a>
  </li>
  <li {% if page.url == '/product/components/dropdown.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/components/dropdown.html">Dropdown</a>
  </li>
  <li {% if page.url == '/product/components/file-uploader.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/components/file-uploader.html">File Uploader</a>
  </li>
  <li {% if page.url == '/product/components/form.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/components/form.html">Form</a>
  </li>
  <li {% if page.url == '/product/components/interior-left-nav.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/components/interior-left-nav.html">Interior Left Nav</a>
  </li>
  <li {% if page.url == '/product/components/link.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/components/link.html">Link</a>
  </li>
  <li {% if page.url == '/product/components/list.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/components/list.html">List</a>
  </li>
  <li {% if page.url == '/product/components/loading.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/components/loading.html">Loading</a>
  </li>
  <li {% if page.url == '/product/components/modal.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/components/modal.html">Modal</a>
  </li>
  <li {% if page.url == '/product/components/module.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/components/module.html">Module</a>
  </li>
  <li {% if page.url == '/product/components/notification.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/components/notification.html">Notification</a>
  </li>
  <li {% if page.url == '/product/components/number-input.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/components/number-input.html">Number Input</a>
  </li>
  <li {% if page.url == '/product/components/overflow-menu.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/components/overflow-menu.html">Overflow Menu</a>
  </li>
  <li {% if page.url == '/product/components/pagination.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/components/pagination.html">Pagination</a>
  </li>
  <li {% if page.url == '/product/components/progress-indicator.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/components/progress-indicator.html">Progress Indicator</a>
  </li>
  <li {% if page.url == '/product/components/radio-button.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/components/radio-button.html">Radio Button</a>
  </li>
  <li {% if page.url == '/product/components/search.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/components/search.html">Search</a>
  </li>
  <li {% if page.url == '/product/components/select.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/components/select.html">Select</a>
  </li>
  <li {% if page.url == '/product/components/slider.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/components/slider.html">Slider</a>
  </li>
  <li {% if page.url == '/product/components/structured-list.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/components/structured-list.html">Structured List</a>
  </li>
  <li {% if page.url == '/product/components/tabs.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/components/tabs.html">Tabs</a>
  </li>
  <li {% if page.url == '/product/components/tag.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/components/tag.html">Tag</a>
  </li>
  <li {% if page.url == '/product/components/text-input.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/components/text-input.html">Text Input</a>
  </li>
  <li {% if page.url == '/product/components/toggle.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/components/toggle.html">Toggle</a>
  </li>
  <li {% if page.url == '/product/components/tooltip.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/components/tooltip.html">Tooltip</a>
  </li>
  <li {% if page.url == '/product/resources.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/resources.html">Resources</a>
  </li>
  <li {% if page.url == '/product/component-status.html' %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}/product/component-status.html">Component Status</a>
  </li>
</ul>
